@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic);
@import url(https://fonts.cdnfonts.com/css/bellada);


html {
  height:100%;
}

.content {
  padding: 10px;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(https://giovannimasi.tech/hidgems/images/_1377337f-2e87-455a-b256-a7efedf1e8f2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
  }

  .foreground{
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    max-width: 70%;
    margin: auto auto;
  }

  .title {
    font-family: Bellada;
    font-size: 50;
  }
  
  .intestation {
    font-family: "Roboto";
    font-size: 18px;
    color: #333;
  }

  .mockup {
    margin-top: 12%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }

  .mockup:hover .slide {
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }

  .slide {
    height: 400px;
    width: 200px;
    background-color: #2e2929;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.4s;
  }

  .slide img {
    border-radius: 25px;
    height: 400px;
    width: 200px;
  }

  .mockup:hover .slide:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    box-shadow: 0px 4px 4px #35689a;
  }

  .get_it_on {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px 50px;
    max-block-size: 5%;
    width: auto;
  }
  
  .get_it_on img {
    margin: 0 20px;
    display: flex;
    width: fit-content;
  }
  
  .google {
    height: 89;
  }

  .apple {
    height: 70;
  }
}

@media screen and (max-width: 1023px) {
  body {
    background-image: url(https://giovannimasi.tech/hidgems/images/_1377337f-2e87-455a-b256-a7efedf1e8f2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0;
  }

  .foreground{
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 100%;
    min-width: 100%;
    margin: auto auto;
  }

  .title {
    font-family: Bellada;
    font-size: 100;
  }
  
  .intestation {
    font-family: "Roboto";
    font-size: 50px;
    color: #333;
  }

  .slide {
    height: 400px;
    width: 200px;
    background-color: #2e2929;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.4s;
  }

  .slide img {
    border-radius: 25px;
    height: 400px;
    width: 200px;
  }

  .get_it_on {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px 50px;
    max-block-size: 5%;
    width: auto;
  }
  
  .get_it_on img {
    margin: 10 20px;
    display: flex;
    width: fit-content;
  }

  
  .google {
    height: 160;
  }

  .apple {
    height: 140;
  }
}